@using Core.Dtos.CategoryDtos
@model List<CategoryListItemDto>

@{ 
    var lang = Context.CurrentLanguage();
}

@inject SharedLocalizationService localizer

@if (Model.Any())
{
    <h3 class="sidebar-title">@localizer.Get("Categories")</h3>
    <div class="sidebar-item categories">
        <ul>
            @foreach (var item in Model)
            {
                <li><a asp-page="/blog/list" asp-route-handler="Category" asp-route-culture="@lang" asp-route-id="@item.Id" asp-route-slug="@item.Slug">@item.Name</a></li>
            }
        </ul>
    </div>
}